<h1>Assign <%= @person.first_name %> <%= @person.last_name %> to a Location</h1>

<%= form_for([@person, @assignment]) do |f| %>
  <%= f.collection_select(:location_id, Location.all, :id, :name, prompt: true) %>
  <%= f.text_field :role %>
  <%= f.submit "Assign" %>
<% end %>